<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chessboard</title>
    {% load static %}
    <!-- Load jQuery first -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Load Chessboard2.js -->
    <link rel="stylesheet"
    href="https://unpkg.com/@chrisoakman/chessboard2@0.5.0/dist/chessboard2.min.css"
    integrity="sha384-47VeTDpmy4yT21gKPXQcLQYQZwlmz27gEH5NTrOmTk3G/SGvMyltclOW/Q8uE+sL"
    crossorigin="anonymous">

    <!-- add JS via CDN: -->
    <script src="https://unpkg.com/@chrisoakman/chessboard2@0.5.0/dist/chessboard2.min.js"
    integrity="sha384-/KwQCjA1GWovZNV3QDVtvSMDzO4reGgarF/RqHipr7hIUElH3r5zNl9WEPPOBRIF"
    crossorigin="anonymous"></script>  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
    <!-- Load Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Load Bootstrap JS and dependencies -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/modals.js' %}?v={{ timestamp }}"></script>
    <script src="{% static 'js/chessgame.js' %}?v={{ timestamp }}"></script>
    <link href="{% static 'css/chessgame.css' %}?v={{ timestamp }}" rel="stylesheet">
         
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <h2>CMESS CHESS</h2>
                    </div>
                        <div id="alertBox"></div>
                    </div>
                    <div class="row">
                    <div class="col-md-9 text-center">
                        <div id="board" style="width: 400px; align-self: center;"></div>
                     </div>
                    <div class="col-md-3 text-left">
                        <div class="row">
                            <div class="col-md-6"><strong>Game Id:</strong></div>
                            <div class="col-md-6" id="gameId"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Status:</strong></div>
                            <div class="col-md-6" id="status"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Round:</strong></div>
                            <div class="col-md-6" id="round"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>White Player:</strong></div>
                            <div class="col-md-6" id="whitePlayer"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Black Player:</strong></div>
                            <div class="col-md-6" id="blackPlayer"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Current FEN:</strong></div>
                            <div class="col-md-6" id="fen"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Open:</strong></div>
                            <div class="col-md-6" id="open"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Result:</strong></div>
                            <div class="col-md-6" id="result"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><strong>Result Reason:</strong></div>
                            <div class="col-md-6" id="resultReason"></div>
                        </div>
                    </div>
                   <div class="row mt-50">
                        <button id="startBtn" onclick="startGame()">Start Game</button>
                        <button id="resetBtn" onclick="resetPosition()">Reset Position</button>
                        <button id="resignBtn" class="btn btn-warning" onclick="openModal('Confirm Resignation', 'Are you sure you want to resign?', 'Cancel', 'Resign', handleResignation)">Resign</button>
                        <button id="undoBtn" onclick="undoMove()" disabled=true title="(Pending)Undo the last move">Undo Move</button>
                        <button id="clearBtn" onclick="clearBoard()" title="Clear the board">Clear Board</button>
                        <button id="forwardBtn" onclick="forwardMove()" title="Move forward">Get Board</button>
                        <button id="flipBtn" onclick="flipBoard()" title="Flip the board">Flip Board</button>
                        <button id="getFenBtn" onclick="getFEN()" title="Get the FEN">Get FEN</button>
                  
                        <button id="saveGameBtn" onclick="saveGame()" title="Save the game">Save Game</button>
                       <input type="text" id="fen" placeholder="Enter FEN" title="Enter FEN">
                        <button id="setFenBtn" onclick="applyFEN()" title="Set the position using FEN">Set Position</button>
                        <button id="loadGameBtn" onclick="loadGame(1)" title="Load the game" alt="Pending">Load Game</button>
                        <input type="text" id="username" placeholder="Username" title="Enter your username">
                        <input type="password" id="password" placeholder="Password" title="Enter your password">
                        <button id="loginBtn" onclick="login(document.getElementById('username').value, document.getElementById('password').value)" title="Login">Login</button>
                        <button id="logoutBtn" onclick="logout()" title="Logout">Logout</button>
                        <button id="registerBtn" onclick="register(document.getElementById('username').value, document.getElementById('password').value)" title="Register">Register</button>
                    </div>
                </div>
            </div>
            {% comment %} <div class="col-md-3">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <h2>PGN Viewer</h2>
                        <div class="accordion" id="pgwAccordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            PGN Viewer
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <textarea id="pgn" rows="10" class="form-control" placeholder="Paste PGN here..."></textarea>
                                        <button id="loadPgnBtn" class="btn btn-primary mt-2" onclick="loadPGN()">Load PGN</button>
                                        <button id="viewPgnBtn" class="btn btn-secondary mt-2" onclick="viewPGN()">View PGN</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            {% comment %} <div class="col-md-3">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <h2>Game Features</h2>
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>Game Id:</strong></li>
                                    <li class="list-group-item"><strong>Event:</strong></li>
                                    <li class="list-group-item"><strong>Round:</strong></li>
                                    <li class="list-group-item"><strong>White Player:</strong></li>
                                    <li class="list-group-item"><strong>Black Player:</strong></li>
                                    <li class="list-group-item"><strong>Current FEN:</strong></li>
                                    <li class="list-group-item"><strong>Open:</strong></li>
                                    <li class="list-group-item"><strong>Result:</strong></li>
                                    <li class="list-group-item"><strong>Result Reason:</strong></li>
                                </ul>
                               
                            </div>
                            <div class="col-md-6 text-left">
                                <ul class="list-group">
                                    <li class="list-group-item">{{ gameId }}</li>
                                    <li class="list-group-item">{{ event }}</li>
                                    <li class="list-group-item">{{ round }}</li>
                                    <li class="list-group-item">{{ white_player }}</li>
                                    <li class="list-group-item">{{ black_player }}</li>
                                    <li class="list-group-item">{{ current_fen }}</li>
                                    <li class="list-group-item">{{ open }}</li>
                                    <li class="list-group-item">{{ result }}</li>
                                    <li class="list-group-item">{{ result_reason }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
  </body>
</html>
